.header {
    background-color: gray;
    color: black;
    border-bottom: 2px solid #e7e7e7;
    text-align: center;
    padding: 2px;
    position: fixed;
    left: 0;
    top: 0;
    height: 6em;
    width: 100%;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
    margin-left: 0%;
  }

  .img{
    width: 100px; 
    height: 100px; 
    display: block; 
    border-radius: 40px;
  }
  
  